<!--The content below is only a placeholder and can be replaced.-->
<p>Instructions: Set the End Volume and add solutions. Fix errors. To recalculate set the value of a field to 0</p>


<label>
  Set End Volume
  <input type="number" class="form-control" [(ngModel)]="end_volume" (change)="refresh()">
</label>

<form>
  <div class="form-group">
    <label>New Solution
      <input #new_sol class="form-control" placeholder="New Solution">
    </label>
  </div>
  <button type="button" class="btn btn-primary" (click)="addSolution(new_sol.value)">Add</button>
</form>

<p class="text-danger" [hidden]="errorText === ''">
  {{errorText}}
  Problem rows highlighted in red
</p>

<table class="table table-hover" cdk-table [dataSource]="solutions$">
  <ng-container cdkColumnDef="name">
    <th cdk-header-cell *cdkHeaderCellDef>Solution Name</th>
    <td cdk-cell *cdkCellDef="let row" [ngClass]="{
      'table-danger': isBadSolution(row.name) 
    }">{{row.name}}<button
        type="button" class="btn btn-primary" (click)="removeSolution(row.name)">Remove</button></td>
  </ng-container>

  <ng-container cdkColumnDef="start_conc">
    <th cdk-header-cell *cdkHeaderCellDef>Solution start_conc</th>
    <td cdk-cell *cdkCellDef="let row" [ngClass]="{
      'table-success': row.solved_for === 'start_conc'
    }">
      <input type="number" class="form-control" [(ngModel)]="row.start_conc" (change)="refresh()">
    </td>
  </ng-container>

  <ng-container cdkColumnDef="end_conc">
    <th cdk-header-cell *cdkHeaderCellDef>Solution end_conc</th>
    <td cdk-cell *cdkCellDef="let row" [ngClass]="{
      'table-success': row.solved_for === 'end_conc'
    }"> <input
        type="number" class="form-control" [(ngModel)]="row.end_conc" (change)="refresh()">
    </td>
  </ng-container>

  <ng-container cdkColumnDef="start_volume">
    <th cdk-header-cell *cdkHeaderCellDef>Solution start_volume</th>
    <td cdk-cell *cdkCellDef="let row" [ngClass]="{
        'table-success': row.solved_for === 'start_volume'
      }">
      <input type="number" class="form-control" [(ngModel)]="row.start_volume" (change)="refresh()">
    </td>
  </ng-container>

  <ng-container cdkColumnDef="end_volume">
    <th cdk-header-cell *cdkHeaderCellDef>Solution end_volume</th>
    <td cdk-cell *cdkCellDef="let row" [ngClass]="{
      'table-success': row.solved_for === 'end_volume'
    }">
      <input type="number" class="form-control" [(ngModel)]="row.end_volume" (change)="refresh()">
    </td>
  </ng-container>

  <ng-container cdkColumnDef="solved_for">
    <th cdk-header-cell *cdkHeaderCellDef>Solution solved_for</th>
    <td cdk-cell *cdkCellDef="let row">{{row.solved_for}}</td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="displayed_columns_source.value"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayed_columns_source.value"></tr>
</table>